SWDService/obj/Debug/SWDService.csproj.CoreCompileInputs.cache
SWDService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BoardBooking/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BoardBooking/obj/Debug/BoardBooking.csproj.CoreCompileInputs.cache
.vs/config/applicationhost.config
.vs/BoardBooking/v15/Server/sqlite3/storage.ide
.vs/BoardBooking/v15/.suo
.vs/BoardBooking/v15/Server/sqlite3/storage.ide-wal
.vs/BoardBooking/v15/Server/sqlite3/storage.ide-shm
